[fan]
##	Part Cooling Fan
pin: multi_pin:PC_FAN
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively

[heater_fan hotend_fan]
pin: thb:HE_FAN
heater: extruder
heater_temp: 50.0
kick_start_time: 0.5
max_power: 1.0
tachometer_pin: thb:HE_TACH  #Uncomment for Tach on NH36
tachometer_ppr: 2
tachometer_poll_interval: 0.0008 

[controller_fan controller_fan]
pin: MCU_FAN
max_power:0.34
kick_start_time: 0.5
fan_speed: 1.0
idle_speed: 0.5
cycle_time: 0.00008

# [fan_generic BED_FAN]
# pin: BED_FAN
# cycle_time: 0.00008

#################
# Carbon Filter #
#################

[fan_generic filter]
pin: FILTER_FAN

[delayed_gcode filter_off]
gcode:
    SET_FAN_SPEED FAN=filter SPEED=0

[gcode_macro TOGGLE_FILTER]
gcode:
    {% if printer['fan_generic filter'].speed > 0 %}
      SET_FAN_SPEED FAN=filter SPEED=0
    {% else %}
      SET_FAN_SPEED FAN=filter SPEED=1
    {% endif %}

